html, body, #main {
    height: 100%;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: #333;
  }
  
  a, a:visited {
    color: #666;
  }
  
  a:hover {
    color: #e86e14;
    text-decoration: none;
  }
  
  h1 {
    font-family: 'Patua One', serif;
  }
  
  h2 {
    color: #666;
    font-size: 1.2rem;
  }
  
  h3 {
    font-size: 1rem;
    color: #999;
  }
  
  .tooltip {
    margin-top: 1rem;
  }
  
  .btn-lg {
    border-radius: 0.8rem;
    font-size: 1.1rem;
    font-weight: 400;
  }
  
  #avatar {
    width: 128px;
    height: 128px;
    border-radius: 100%;
  }
  
  #name {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  
  .social-list-item {
    padding: 0.4rem;
  }
  
  .ic-social {
    width: 24px;
    height: 24px;
    filter: invert(36%) sepia(0%) saturate(2305%) hue-rotate(316deg) brightness(104%) contrast(82%);
  }
  
  .social-icon:hover {
    filter: invert(53%) sepia(40%) saturate(5337%) hue-rotate(359deg) brightness(98%) contrast(86%);
  }
  
  /*Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) {
  
    body {
      background-color: #EEE;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    h3 {
      font-size: 1.2rem;
    }
  
    #card {
      background-color: white;
      box-shadow: 0 0 24px #AAA;
      border-radius: 24px;
    }
  
    #avatar {
      width: 160px;
      height: 160px;
      border-radius: 100%
    }
  
    #name {
      font-size: 4.5rem;
      font-weight: 300;
      line-height: 1.2;
    }
  
    .social-list-item {
      padding: 1rem;
    }
  
  }